/* src/components/Navbar.css */
.navbar {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.navbar-logo img {
  height: 150px; /* Adjust the size as needed */
  margin-right: 10px;
}

.navbar-links-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-links li {
  margin: 0 10px;
  margin-right: 25px;
  font-size: 20px;
}

.navbar-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.hamburger {
  display: none;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .navbar-logo {
    margin-bottom: 0;
  }

  .navbar-logo img {
    height: 130px; /* Adjust the size as needed */
    margin: 0px;
    padding-left: 30px;
  }

  .navbar-links-container {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links-container.active {
    display: flex;
    align-items: center;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    padding-right: 60px;
  }

  .hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active .line:nth-child(2) {
    transform: rotate(-45deg) translate(6px, -6px);

  }

  .hamburger.active .line:nth-child(3) {
    /* transform: rotate(-60deg) translate(6px, -6px); */
    opacity: 0;
  }
}
